@import "var";


.banner-container {
.card {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // margin-top: 50%;
    // margin-left: 50%;
    transform: translate(-0%, -0%);
    width: 280px;
    height: 280px;
    transition: $transition-slow;
    cursor: $cursor-pointer;

    .front {
        display: inline-block;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        transform: perspective(1000px) rotateY(0deg);
        transition: $transition-slow;
    }

    .back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        transform: perspective(1000px) rotateY(-180deg);
        transition: $transition-slow;
    }

    &.flipped {
        .front {
            transform: perspective(1000px) rotateY(180deg);
        }
        .back {
            transform: perspective(1000px) rotateY(0);
        }
    }

    img {
        height: 100%;
        width: 100%;
    }
}
}