@import "var";

.message-container {
    display: flex;
    flex-direction: column;

    padding: $spacing-xxl $spacing-extra;

}

.message-indicator {
    display: grid;
    width: 100%;

    .section-container {
        // position: absolute;

        // to create overlap without position absolute
        grid-column: 1;
        grid-row: 1;
        width: 100%;

    }

    .img-container {
        grid-column: 1;
        grid-row: 1;
        // put back
        // transform: scale(0);

        img {
            width: 60px;
            height: 60px;
        }
    }

    .typing-indicator {
        background-color: $color-light-grey;
        will-change: transform;
        width: fit-content;
        border-radius: 50px;
        display: flex;
        align-items: center;
        padding: 20px;
        animation: 2s bulge infinite ease-out;

        // to create overlap without position absolute
        grid-column: 1;
        grid-row: 1;
        align-self: start;

                // put back
        // transform: scale(0);

        &.disable {
            animation: 0.3s disable ease-out forwards;
        }

        span {
            height: 10px;
            width: 10px;
            float: left;
            margin: 0 1px;
            background-color: #9e9ea1;
            display: block;
            border-radius: 50%;
            opacity: 0.4;
            @for $i from 1 through 3 {
                &:nth-of-type(#{$i}) {
                    animation: 1s blink infinite ($i * 0.3333s);
                }
            }
        }
    }

    &.m-left {
        .img-container {
            margin-left: -70px;
        }

        .message {
            transform-origin: 0% 100%;
            background-color: $color-light-grey;

            &:first-of-type:after {
                border-bottom: 15px solid $color-light-grey;
            }

            &:after {
                left: -5px;
            }
        }
    }

    &.m-right {
        align-self: flex-end;
        text-align: right;

        .img-container {
            margin-right: -70px;
        }

        .typing-indicator {
            justify-self: flex-end;
        }

        .section-container {
            // display: flex;
            // flex-wrap: wrap-reverse;
            // flex-direction: column;
            // align-content: flex-end;

            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        .message {
            transform-origin: 100% 100%;
            background-color: $color-message;

            &:first-of-type:after {
                border-bottom: 15px solid $color-message;
            }

            &:after {
                right: -5px;
            }
        }
    }
}

.message {
    max-width: 60%;
    position: relative;
    margin-bottom: 10px;

    padding: 20px;
    // background-color: $color-light-grey;
    width: fit-content;
    height: fit-content;
    text-align: left;
    border-radius: 20px;

    // put back
   //  transform: scale(0);

    .message-content {
        padding: 0;
        margin: 0;
    }



    &:first-of-type:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        // bottom: 0;
    }
}

@keyframes blink {
    50% {
        opacity: 1;
    }
}

@keyframes disable {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
