@import "var";

h1 {
    font-weight: 300;
    font-size: 2.3rem;
}

h2 {
    margin-bottom: $spacing-xl;
}

h5 {
    font-weight: 300;
    font-size: 1.5rem;
}

h6 {
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: $spacing-xs;
}


.text-r {
    color: $color-red;
}