@import "var";
@import "menu";
@import "layout";
@import "nav";
@import "card";
@import "button";
@import "banner";
@import "main";
@import "chat";
@import "project";
@import "font";
@import "slide";
@import "video";

body {
    font-family: $font-main;
    cursor: $cursor-normal;
}

* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: $cursor-pointer;
    height: 100%;
}

.message {
    a {
        color: $color-blue;
        font-weight: 600;

        &:hover {
            text-decoration: underline;
        }
    }
}



@media (max-width: map-get($breakPoints, xl)) {
    .mobile {
        display: none;
    }
    .desktop {
        display:block
    }
}


@media (max-width: map-get($breakPoints, md)) {
    .mobile {
        display: block;
    }
    .desktop {
        display:none
    }
}