@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
.menu-container {
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 1000;
}

.menu-toggle {
  position: absolute;
  right: 1.5rem;
  top: 49%;
  transform: translate(0, -50%);
  height: 26px;
  width: 29px;
  cursor: url(/assets/lego-cursor-mini-pointer.png), auto;
}
.menu-toggle, .menu-toggle:hover {
  color: rgba(255, 255, 255, 0.6);
}

.menu-toggle-bar {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  right: 20px;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #0755BF;
  transition: all 0.3s ease;
}
.menu-toggle-bar.menu-toggle-bar--top {
  transform: translate(0, -8px);
}
.menu-toggle-bar.menu-toggle-bar--bottom {
  transform: translate(0, 8px);
}
.nav-open .menu-toggle-bar.menu-toggle-bar--top {
  transform: translate(0, 0) rotate(45deg);
}
.nav-open .menu-toggle-bar.menu-toggle-bar--middle {
  opacity: 0;
}
.nav-open .menu-toggle-bar.menu-toggle-bar--bottom {
  transform: translate(0, 0) rotate(-45deg);
}

body.nav-open .sidebar-container {
  right: 0;
}
body.nav-open .menu-toggle {
  right: 30vw;
}

.sidebar-container {
  background-color: #0755BF;
  color: #FFFFFF;
  width: 30vw;
  height: 100%;
  position: fixed;
  padding: 6rem 3rem;
  top: 0;
  right: -30vw;
  transition: cubic-bezier(0.69, -0.41, 0.27, 1.4) 0.5s all;
  z-index: 1000;
}

.menu-toggle {
  transition: cubic-bezier(0.69, -0.41, 0.27, 1.4) 0.5s all;
}

body {
  background-color: #D01011;
  margin-left: 0;
}
body main {
  background-color: #FFFFFF;
}

.nav-container {
  background-color: #FECF00;
  height: 50px;
}
.nav-container nav {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 6rem;
}
.nav-container nav img {
  height: 100%;
  position: absolute;
  left: 6rem;
  right: 0;
  max-height: 22px;
}
.nav-container nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 4rem;
}
.nav-container nav ul li {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 800;
  transition: cubic-bezier(0.69, -0.41, 0.27, 1.4) 0.5s all;
}
.nav-container nav ul a {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #16151b;
  margin: 0 15px;
  font-size: 16px;
  letter-spacing: 1px;
  position: relative;
  display: inline-block;
  animation: show 0.2s 1.5s ease 1 both;
}
.nav-container nav ul a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #16151b;
  top: 47%;
  animation: out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
.nav-container nav ul a:hover:before {
  animation: in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
@keyframes in {
  0% {
    width: 0;
    left: 0;
    right: auto;
  }
  100% {
    left: 0;
    right: auto;
    width: 100%;
  }
}
@keyframes out {
  0% {
    width: 100%;
    left: auto;
    right: 0;
  }
  100% {
    width: 0;
    left: auto;
    right: 0;
  }
}
@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.card {
  transform: translate(0%, 0%);
  width: 280px;
  height: 280px;
  transition: cubic-bezier(0.69, -0.41, 0.27, 1.4) 0.8s all;
  cursor: url(/assets/lego-cursor-mini-pointer.png), auto;
}
.card .front {
  display: inline-block;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: perspective(1000px) rotateY(0deg);
  transition: cubic-bezier(0.69, -0.41, 0.27, 1.4) 0.8s all;
}
.card .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: perspective(1000px) rotateY(-180deg);
  transition: cubic-bezier(0.69, -0.41, 0.27, 1.4) 0.8s all;
}
.card.flipped .front {
  transform: perspective(1000px) rotateY(180deg);
}
.card.flipped .back {
  transform: perspective(1000px) rotateY(0);
}
.card img {
  height: 100%;
  width: 100%;
}

button {
  width: fit-content;
  padding: 1rem;
  border-radius: 13px;
  border: none;
  transition: cubic-bezier(0.69, -0.41, 0.27, 1.4) 0.5s all;
  cursor: url(/assets/lego-cursor-mini-pointer.png), auto;
  opacity: 0.95;
  transform: scale(1);
}
button:hover {
  opacity: 1;
  transform: scale(1.03);
}
button.btn-primary {
  background-color: #F5F5F5;
  color: #1C1C1C;
  text-transform: uppercase;
  font-weight: 600;
}

.banner {
  background-image: url(/assets/banner-bg.png);
  background-size: cover;
  height: fit-content;
  min-height: 80vh;
  padding: 2rem 6rem;
}
.banner .banner-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.banner .img-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.banner .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFFFFF;
}
.banner .text-container .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}
.banner .text-container .letter {
  display: inline-block;
  line-height: 1em;
}
.banner .text-container p {
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
}
.banner .text-container h1 {
  font-weight: 300;
  font-size: 2.3rem;
}
.banner .button-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.banner .button-container button {
  margin: 3rem 0 0.3rem;
}

main {
  padding: 3rem 10rem;
}

.message-container {
  display: flex;
  flex-direction: column;
  border: 1px solid blue;
}

.message-indicator {
  display: grid;
  width: 100%;
}
.message-indicator .section-container {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
}
.message-indicator .img-container {
  grid-column: 1;
  grid-row: 1;
}
.message-indicator .img-container img {
  width: 60px;
  height: 60px;
}
.message-indicator .typing-indicator {
  background-color: #F5F5F5;
  will-change: transform;
  width: fit-content;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 20px;
  animation: 2s bulge infinite ease-out;
  grid-column: 1;
  grid-row: 1;
  align-self: start;
}
.message-indicator .typing-indicator.disable {
  animation: 0.3s disable ease-out forwards;
}
.message-indicator .typing-indicator span {
  height: 10px;
  width: 10px;
  float: left;
  margin: 0 1px;
  background-color: #9e9ea1;
  display: block;
  border-radius: 50%;
  opacity: 0.4;
}
.message-indicator .typing-indicator span:nth-of-type(1) {
  animation: 1s blink infinite 0.3333s;
}
.message-indicator .typing-indicator span:nth-of-type(2) {
  animation: 1s blink infinite 0.6666s;
}
.message-indicator .typing-indicator span:nth-of-type(3) {
  animation: 1s blink infinite 0.9999s;
}
.message-indicator.m-left .img-container {
  margin-left: -70px;
}
.message-indicator.m-left .message {
  transform-origin: 0% 100%;
  background-color: #F5F5F5;
}
.message-indicator.m-left .message:first-of-type:after {
  border-bottom: 15px solid #F5F5F5;
}
.message-indicator.m-left .message:after {
  left: -5px;
}
.message-indicator.m-right {
  align-self: flex-end;
  text-align: right;
}
.message-indicator.m-right .img-container {
  margin-right: -70px;
}
.message-indicator.m-right .typing-indicator {
  justify-self: flex-end;
}
.message-indicator.m-right .section-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.message-indicator.m-right .message {
  transform-origin: 100% 100%;
  background-color: #6DE35D;
}
.message-indicator.m-right .message:first-of-type:after {
  border-bottom: 15px solid #6DE35D;
}
.message-indicator.m-right .message:after {
  right: -5px;
}

.message {
  max-width: 60%;
  position: relative;
  margin-bottom: 10px;
  padding: 20px;
  width: fit-content;
  height: fit-content;
  text-align: left;
  border-radius: 20px;
}
.message .message-content {
  padding: 0;
  margin: 0;
}
.message:first-of-type:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}
@keyframes disable {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
body {
  font-family: "Open Sans", sans-serif;
  cursor: url(/assets/lego-cursor-mini-green.png), auto;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: url(/assets/lego-cursor-mini-pointer.png), auto;
  height: 100%;
}

.message a {
  color: #0755BF;
  font-weight: 600;
}
.message a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
