@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
.menu-container {
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 1000;
}

.menu-toggle {
  position: absolute;
  right: 1.5rem;
  top: 49%;
  transform: translate(0, -50%);
  height: 26px;
  width: 29px;
  cursor: url(/assets/lego-cursor-mini-pointer.png), auto;
}
.menu-toggle, .menu-toggle:hover {
  color: rgba(255, 255, 255, 0.6);
}

.menu-toggle-bar {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  right: 20px;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #0755BF;
  transition: all 0.3s ease;
}
.menu-toggle-bar.menu-toggle-bar--top {
  transform: translate(0, -8px);
}
.menu-toggle-bar.menu-toggle-bar--bottom {
  transform: translate(0, 8px);
}
.nav-open .menu-toggle-bar.menu-toggle-bar--top {
  transform: translate(0, 0) rotate(45deg);
}
.nav-open .menu-toggle-bar.menu-toggle-bar--middle {
  opacity: 0;
}
.nav-open .menu-toggle-bar.menu-toggle-bar--bottom {
  transform: translate(0, 0) rotate(-45deg);
}

body.nav-open .sidebar-container {
  right: 0;
}
body.nav-open .menu-toggle {
  right: 30vw;
}

.sidebar-container {
  background-color: #0755BF;
  color: #FFFFFF;
  width: 30vw;
  height: 100%;
  position: fixed;
  padding: 3rem 3rem;
  border-radius: 20px 0 0 20px;
  top: 0;
  right: -30vw;
  display: flex;
  align-items: center;
  transition: cubic-bezier(0.69, -0.41, 0.27, 1.4) 0.5s all;
  z-index: 1000;
}
.sidebar-container .sidebar span {
  display: inline-flex;
}
.sidebar-container .sidebar img {
  height: 30px;
  width: auto;
}

.menu-toggle {
  transition: cubic-bezier(0.69, -0.41, 0.27, 1.4) 0.5s all;
}

.mydetails {
  margin-top: 1rem;
  font-weight: 600;
}

@media (max-width: 768px) {
  body .sidebar-container {
    width: 50vw;
    right: -50vw;
  }
  body.nav-open .menu-toggle {
    right: 50vw;
  }
}
@media (max-width: 550px) {
  body .sidebar-container {
    width: 80vw;
    right: -80vw;
    padding: 2rem;
  }
  body .menu-container .menu-toggle {
    right: 1rem;
  }
  body.nav-open .menu-toggle {
    right: 80vw;
  }
}
body {
  background-color: #D01011;
  margin-left: 0;
}
body main {
  background-color: #FFFFFF;
}

.nav-container {
  background-color: #FECF00;
  height: 50px;
}
.nav-container nav {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 6rem;
}
.nav-container nav img {
  height: 100%;
  position: absolute;
  left: 6rem;
  right: 0;
  max-height: 22px;
}
.nav-container nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 4rem;
}
.nav-container nav ul li {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 800;
  transition: cubic-bezier(0.69, -0.41, 0.27, 1.4) 0.5s all;
}
.nav-container nav ul a {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #16151b;
  margin: 0 15px;
  font-size: 16px;
  letter-spacing: 1px;
  position: relative;
  display: inline-block;
  animation: show 0.2s 1.5s ease 1 both;
}
.nav-container nav ul a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #16151b;
  top: 47%;
  animation: out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
.nav-container nav ul a:hover:before {
  animation: in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
@keyframes in {
  0% {
    width: 0;
    left: 0;
    right: auto;
  }
  100% {
    left: 0;
    right: auto;
    width: 100%;
  }
}
@keyframes out {
  0% {
    width: 100%;
    left: auto;
    right: 0;
  }
  100% {
    width: 0;
    left: auto;
    right: 0;
  }
}
@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 768px) {
  .nav-container nav {
    padding: 1.5rem 3rem;
  }
  .nav-container nav img {
    left: 3rem;
    top: 15px;
  }
}
@media (max-width: 550px) {
  .nav-container nav {
    padding: 1.5rem 1.5rem;
  }
  .nav-container nav img {
    left: 1.5rem;
  }
  .nav-container nav ul {
    gap: 1.5rem;
  }
}

.banner-container .card {
  transform: translate(0%, 0%);
  width: 340px;
  height: 340px;
  transition: cubic-bezier(0.69, -0.41, 0.27, 1.4) 0.8s all;
  cursor: url(/assets/lego-cursor-mini-pointer.png), auto;
}
.banner-container .card .front {
  display: inline-block;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: perspective(1000px) rotateY(0deg);
  transition: cubic-bezier(0.69, -0.41, 0.27, 1.4) 0.8s all;
}
.banner-container .card .front p {
  position: absolute;
  top: 80%;
  left: 38%;
  color: #FFFFFF;
  opacity: 0;
}
.banner-container .card .front p.pulse {
  animation: pulse 2s infinite;
}
@media (max-width: 768px) {
  .banner-container .card .front p {
    font-size: 0.6rem;
  }
}
@keyframes pulse {
  50% {
    opacity: 0.6;
  }
}
.banner-container .card .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: perspective(1000px) rotateY(-180deg);
  transition: cubic-bezier(0.69, -0.41, 0.27, 1.4) 0.8s all;
}
.banner-container .card.flipped .front {
  transform: perspective(1000px) rotateY(180deg);
}
.banner-container .card.flipped .back {
  transform: perspective(1000px) rotateY(0);
}
.banner-container .card img {
  height: 100%;
  width: 100%;
}

button {
  width: fit-content;
  padding: 1rem;
  border-radius: 13px;
  border: none;
  transition: cubic-bezier(0.69, -0.41, 0.27, 1.4) 0.5s all;
  cursor: url(/assets/lego-cursor-mini-pointer.png), auto;
  opacity: 0.95;
  transform: scale(1);
}
button:hover {
  opacity: 1;
  transform: scale(1.03);
}
button.btn-primary {
  background-color: #F5F5F5;
  color: #1C1C1C;
  text-transform: uppercase;
  font-weight: 600;
}
button.video-open, button.video-close {
  background-color: transparent;
  cursor: url(/assets/lego-cursor-mini-pointer.png), auto;
}

.video-group__item {
  cursor: url(/assets/lego-cursor-mini-pointer.png), auto !important;
}

.banner {
  background-image: url(/assets/banner-bg.png);
  background-size: cover;
  height: fit-content;
  min-height: 80vh;
  display: flex;
  align-items: center;
  padding: 2rem 6rem;
}
.banner .banner-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}
.banner .img-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.banner .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFFFFF;
}
.banner .text-container .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}
.banner .text-container .letter {
  display: inline-block;
  line-height: 1em;
}
.banner .text-container p {
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
}
.banner .button-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.banner .button-container button {
  margin: 3rem 0 0.3rem;
}
@media (max-width: 1032px) {
  .banner .banner-grid {
    grid-template-columns: 1fr 1fr;
  }
  .banner .img-container:last-child {
    display: none;
  }
}
@media (max-width: 768px) {
  .banner {
    padding: 2rem 3rem;
  }
  .banner .img-container:last-child {
    display: none;
  }
  .banner .card {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 550px) {
  .banner {
    padding: 1.5rem 1.5rem;
  }
  .banner .banner-grid {
    display: flex;
    flex-direction: column;
  }
  .banner .img-container {
    margin-top: 3rem;
  }
  .banner .card {
    width: 200px;
    height: 200px;
  }
}

.message-container {
  display: flex;
  flex-direction: column;
  padding: 10rem;
  background-image: url(/assets/chat-bg.png);
  background-repeat: repeat;
}

.message-indicator {
  display: grid;
  width: 100%;
}
.message-indicator .section-container {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
}
.message-indicator .img-container {
  grid-column: 1;
  grid-row: 1;
}
.message-indicator .img-container img {
  width: 60px;
  height: 60px;
}
.message-indicator .typing-indicator {
  background-color: #F5F5F5;
  will-change: transform;
  width: fit-content;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 20px;
  animation: 2s bulge infinite ease-out;
  grid-column: 1;
  grid-row: 1;
  align-self: start;
}
.message-indicator .typing-indicator.disable {
  animation: 0.3s disable ease-out forwards;
}
.message-indicator .typing-indicator span {
  height: 10px;
  width: 10px;
  float: left;
  margin: 0 1px;
  background-color: #9e9ea1;
  display: block;
  border-radius: 50%;
  opacity: 0.4;
}
.message-indicator .typing-indicator span:nth-of-type(1) {
  animation: 1s blink infinite 0.3333s;
}
.message-indicator .typing-indicator span:nth-of-type(2) {
  animation: 1s blink infinite 0.6666s;
}
.message-indicator .typing-indicator span:nth-of-type(3) {
  animation: 1s blink infinite 0.9999s;
}
.message-indicator.m-left .img-container {
  margin-left: -70px;
}
.message-indicator.m-left .message {
  transform-origin: 0% 100%;
  background-color: #F5F5F5;
}
.message-indicator.m-left .message:first-of-type:after {
  border-bottom: 15px solid #F5F5F5;
}
.message-indicator.m-left .message:after {
  left: -5px;
}
.message-indicator.m-right {
  align-self: flex-end;
  text-align: right;
}
.message-indicator.m-right .img-container {
  margin-right: -70px;
}
.message-indicator.m-right .typing-indicator {
  justify-self: flex-end;
}
.message-indicator.m-right .section-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.message-indicator.m-right .message {
  transform-origin: 100% 100%;
  background-color: #6DE35D;
}
.message-indicator.m-right .message:first-of-type:after {
  border-bottom: 15px solid #6DE35D;
}
.message-indicator.m-right .message:after {
  right: -5px;
}

.message {
  max-width: 60%;
  position: relative;
  margin-bottom: 10px;
  padding: 20px;
  width: fit-content;
  height: fit-content;
  text-align: left;
  border-radius: 20px;
}
.message .message-content {
  padding: 0;
  margin: 0;
}
.message:first-of-type:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}
@keyframes disable {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@media (max-width: 768px) {
  .message-container {
    padding: 10rem 6rem 10rem;
  }
}
@media (max-width: 550px) {
  .message-container {
    padding: 3rem 5rem 10rem;
  }
  .message-container .message {
    max-width: 100%;
  }
}
.project-container {
  background-color: #111111;
  padding: 10rem 3rem;
}
.project-container h1 {
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 3rem;
}
.project-container .cards {
  padding: 15px;
  display: flex;
  flex-flow: row wrap;
}
@media (max-width: 768px) {
  .project-container .cards {
    padding: 0;
  }
}
.project-container .card {
  margin: 15px;
  width: calc(33.3333333333% - 30px);
  color: #FFFFFF;
  transition: all 0.2s ease-in-out;
  text-align: left;
}
@media screen and (max-width: 991px) {
  .project-container .card {
    width: calc(50% - 30px);
  }
}
@media screen and (max-width: 767px) {
  .project-container .card {
    width: 100%;
  }
}
.project-container .card:hover .card__inner {
  background-color: black;
  border-radius: 0 0 13px 13px;
  border-top: 2px solid var(--color);
  transform: scale(1.05);
}
.project-container .card .tag {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.7rem;
  color: var(--color);
  margin-bottom: 0.3rem;
}
.project-container .card .desc {
  font-size: 0.9rem;
  opacity: 0.5;
  margin-top: 1.5rem;
}
.project-container .card__inner {
  width: 100%;
  padding: 30px;
  position: relative;
  cursor: url(/assets/lego-cursor-mini-pointer.png), auto;
  background-color: black;
  border-radius: 0 0 13px 13px;
  border-top: 2px solid var(--color);
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.2s ease-in-out;
}
.project-container .card__inner:after {
  transition: all 0.3s ease-in-out;
}
.project-container .card__expander {
  transition: all 0.2s ease-in-out;
  background-color: white;
  border-radius: 13px;
  color: #1C1C1C;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  text-align: left;
}
.project-container .card__expander .fas {
  font-size: 0.75em;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: url(/assets/lego-cursor-mini-pointer.png), auto;
}
.project-container .card__expander .fas:hover {
  opacity: 0.9;
}
.project-container .card__expander .card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
@media (max-width: 768px) {
  .project-container .card__expander .card-grid {
    display: flex;
    flex-direction: column;
  }
}
.project-container .card__expander .card-grid img {
  width: 100%;
}
.project-container .card__expander .card-grid p {
  margin-bottom: 1rem;
}
.project-container .card__expander .card-grid .link-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.project-container .card__expander .card-grid .link-container img {
  width: 20px;
  height: auto;
  margin-right: 0.3rem;
}
.project-container .card__expander .card-grid .link-container p {
  font-weight: 600;
  margin-bottom: 0;
  font-size: 0.8rem;
  text-decoration: underline;
}
.project-container .card__expander .card-grid .note {
  font-size: 0.8rem;
  font-style: italic;
  margin-bottom: 2rem;
}
.project-container .card.is-collapsed .card__inner:after {
  content: "";
  opacity: 0;
}
.project-container .card.is-collapsed .card__expander {
  max-height: 0;
  min-height: 0;
  overflow: hidden;
  margin-top: 0;
  opacity: 0;
}
.project-container .card.is-expanded .tag {
  color: #111111;
}
.project-container .card.is-expanded .card__inner {
  background-color: #D01011;
  border-top: none;
}
.project-container .card.is-expanded .card__inner:after {
  content: "";
  opacity: 1;
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  bottom: -30px;
  left: calc(50% - 15px);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid white;
}
.project-container .card.is-expanded .card__inner .fa:before {
  content: "\f115";
}
.project-container .card.is-expanded .card__expander {
  max-height: 1000px;
  min-height: 200px;
  overflow: visible;
  margin-top: 30px;
  opacity: 1;
}
.project-container .card.is-expanded:hover .card__inner {
  transform: scale(1);
}
.project-container .card.is-inactive .card__inner {
  pointer-events: none;
  opacity: 0.5;
}
.project-container .card.is-inactive:hover .card__inner {
  background-color: orange;
  transform: scale(1);
}
@media screen and (min-width: 992px) {
  .project-container .card:nth-of-type(3n + 2) .card__expander {
    margin-left: calc(-100% - 30px);
  }
  .project-container .card:nth-of-type(3n + 3) .card__expander {
    margin-left: calc(-200% - 60px);
  }
  .project-container .card:nth-of-type(3n + 4) {
    clear: left;
  }
  .project-container .card__expander {
    width: calc(300% + 60px);
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .project-container .card:nth-of-type(2n + 2) .card__expander {
    margin-left: calc(-100% - 30px);
  }
  .project-container .card:nth-of-type(2n + 3) {
    clear: left;
  }
  .project-container .card__expander {
    width: calc(200% + 30px);
  }
}

h1 {
  font-weight: 300;
  font-size: 2.3rem;
}

h2 {
  margin-bottom: 2rem;
}

h5 {
  font-weight: 300;
  font-size: 1.5rem;
}

h6 {
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
}

.text-r {
  color: #D01011;
}

section.slide-option {
  background-color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
}
section.slide-option .no-marg {
  margin: 0 0 0 0;
}
section.slide-option div.container {
  transition: all 0.3s ease;
}
section.slide-option div.container h1 {
  margin: 15px 0 0 0;
}
section.slide-option div.container h3 {
  margin: 0 0 25px 0;
}
section.slide-option div.highway-slider {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 150px;
}
section.slide-option div.highway-slider div.highway-barrier {
  overflow: hidden;
  position: relative;
}
section.slide-option div.highway-slider ul.highway-lane {
  display: flex;
  height: 100%;
}
section.slide-option div.highway-slider ul.highway-lane li.highway-car {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #343434;
}
@keyframes translatestf {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(-300%);
  }
  0% {
    transform: translateX(100%);
  }
}
section.slide-option #stffull div.highway-barrier ul.highway-lane {
  width: 500%;
}
section.slide-option #stffull div.highway-barrier ul.highway-lane li.highway-car {
  animation: translatestf 50s linear infinite;
}
section.slide-option #stffull div.highway-barrier ul.highway-lane li.highway-car h4 {
  font-size: 28px;
}
@keyframes translateinfinite {
  100% {
    transform: translateX(-2160px);
  }
}
section.slide-option #infinite div.highway-barrier {
  background: #fff;
  box-shadow: 0 3px 10px -3px rgba(0, 0, 0, 0.3);
}
section.slide-option #infinite div.highway-barrier::before, section.slide-option #infinite div.highway-barrier::after {
  content: " ";
  position: absolute;
  z-index: 9;
  width: 180px;
  height: 100%;
}
section.slide-option #infinite div.highway-barrier::before {
  top: 0;
  left: 0;
  background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
}
section.slide-option #infinite div.highway-barrier::after {
  top: 0;
  right: 0;
  background: linear-gradient(to left, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
}
section.slide-option #infinite div.highway-barrier ul.highway-lane {
  width: 4320px;
}
@media (max-width: 550px) {
  section.slide-option #infinite div.highway-barrier ul.highway-lane {
    width: 2160px;
  }
}
section.slide-option #infinite div.highway-barrier ul.highway-lane li.highway-car {
  width: 180px;
  animation: translateinfinite 55s linear infinite;
}
section.slide-option #infinite div.highway-barrier ul.highway-lane li.highway-car span.fab {
  font-size: 65px;
}
section.slide-option #infinite div.highway-barrier ul.highway-lane li.highway-car .fa-tailwind {
  height: 50%;
  width: auto;
}
section.slide-option #infinite div.highway-barrier ul.highway-lane li.highway-car .fa-tailwind img {
  height: 100%;
}

.video-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 800px;
  margin: auto !important;
}

.video-group__item {
  width: 100%;
  margin: 0.5rem;
  margin-right: 0;
  margin-left: 0;
  position: relative;
  background: white;
  cursor: pointer;
}

.video-group__item.video-open {
  max-width: auto;
}

@media (min-width: 30rem) {
  .video-group__item {
    width: calc(50% - 1rem);
    margin: 1rem;
  }
  .video-group__item:nth-child(2n+1) {
    margin-left: 0;
  }
  .video-group__item:nth-child(2n+2) {
    margin-right: 0;
  }
}
.video-group__item svg {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  fill: white;
  height: 4rem;
}

.video-group__item p {
  margin: 0;
  top: -1px;
  padding: 13px 30px;
  min-height: calc(2.6rem + 25px);
  line-height: 1.3rem;
  color: #000;
  text-align: center;
  font-size: 1rem;
  pointer-events: none;
}

.video-group__item p span {
  font-weight: bold;
}

.video-group__item__inner {
  pointer-events: none;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.video-group__item__inner__img {
  pointer-events: none;
  position: absolute;
  margin: auto;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.video-group__item:hover .video-group__item__inner__img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.video-wrapper {
  background-color: #282828;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  outline: 0;
  opacity: 0;
  z-index: 4;
  -webkit-transform: scale(0.96);
  transform: scale(0.96);
  -webkit-transition: opacity 300ms, -webkit-transform 600ms;
  transition: opacity 300ms, -webkit-transform 600ms;
  transition: opacity 300ms, transform 600ms;
  transition: opacity 300ms, transform 600ms, -webkit-transform 600ms;
}

.video-wrapper.open {
  opacity: 1;
  z-index: 50000;
}

.video-wrapper__element {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  -o-object-fit: contain;
  object-fit: contain;
  height: 0%;
  width: 0%;
}

.video-wrapper__element.open {
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
  opacity: 1;
  height: 100%;
  width: 100%;
}

/*# sourceMappingURL=video-group.css.map */
.video-controller {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-open {
  /* background-image: url(./video-button.svg); */
  background-image: none;
  position: absolute;
  width: fit-content;
  height: fit-content;
}

.wallpaper {
  display: none;
}

.video-group__item {
  background: transparent;
  margin: 1rem;
}

.video-group__item svg {
  height: 3rem;
}

.video-group__item__inner {
  border-radius: 10px;
  height: 100%;
  padding-bottom: 0;
  /* height: 300px; */
}

.video-group__item__inner img {
  border-radius: 10px;
  object-fit: cover;
  position: static;
}

.video-group__item p {
  padding: 13px 15px;
  text-align: left;
  color: #ffffff;
  position: absolute;
  top: auto;
  bottom: 0;
}

.video-group__item:nth-child(2n+2) {
  margin-right: 0rem;
  margin-left: 0rem;
}

.video-group__item:nth-child(2n+1) {
  margin-left: 0rem;
  margin-right: 0rem;
}

svg {
  overflow: visible;
}

@media (min-width: 30rem) {
  .video-group__item {
    width: 100%;
  }
}
@media (min-width: 55rem) {
  .video-group__item:nth-child(2n+2) {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .wallpaper {
    display: block;
  }
  .video-group__item:nth-child(2n+1) {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .video-group {
    flex-wrap: nowrap;
    max-width: 90%;
    margin-left: 0 !important;
  }
}
.video-close {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  left: auto;
  width: 3rem;
  height: 3rem;
  font-size: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80'%3E%3Cdefs/%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0h80v80H0z'/%3E%3Cpath stroke='%23FFF' stroke-width='6' d='M22.322 22.322l35.356 35.356m-35.356 0l35.356-35.356'/%3E%3C/g%3E%3C/svg%3E");
  background-color: transparent;
}

body {
  font-family: "Open Sans", sans-serif;
  cursor: url(/assets/lego-cursor-mini-green.png), auto;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: url(/assets/lego-cursor-mini-pointer.png), auto;
  height: 100%;
}

.message a {
  color: #0755BF;
  font-weight: 600;
}
.message a:hover {
  text-decoration: underline;
}

@media (max-width: 1032px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
}
@media (max-width: 550px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
